@font-face {
  font-family: "samim";
  src: url("../assets/fa.fonts/woff/Samim.woff") format("woff"),
    url("../assets/fa.fonts/ttf/Samim.ttf.ttf") format("ttf");
}

@font-face {
  font-family: "samim";
  src: url("../assets/fa.fonts/woff/Samim-Medium.woff") format("woff"),
    url("../assets/fa.fonts/ttf/Samim-Medium.ttf.ttf") format("ttf");
  font-weight: 400;
}

@font-face {
  font-family: "samim";
  src: url("../assets/fa.fonts/woff/Samim-Bold.woff") format("woff"),
    url("../assets/fa.fonts/ttf/Samim-Bold.ttf.ttf") format("ttf");
  font-weight: 500;
}
