/* GLOBALLY */

* {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #f5f5f5;
  margin: 0;
  font-size: 18px;
  color: #333533;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
}

h2 {
  font-weight: 400;
}

h5 {
  margin-bottom: 5px;
  color: #a0a0a0;
  font-weight: 500;
  font-size: 18px;
}

/* Container */

.header,
.Container {
  display: flex;
  justify-content: center;
  padding: 45px 0;
}

/* header */

.header {
  background-color: #333533;
  height: 376px;
  align-items: center;
}

.header img {
  /* width: 290px; */
  height: 290px;
  border-radius: 50%;
}

.header .title {
  margin: 0 50px;
}

.header .title h1 {
  font-size: 56px;
  margin: 0;
  line-height: 1;
}

.header .position {
  color: #f5f5f5;
  font-size: 32px;
  margin: 40px 0;
}

.header .position i,
.button,
.header .title h1,
.button i {
  color: #ffd100;
}

.button {
  border: 1px solid #ffd100;
  border-radius: 4px;
  padding: 8px 24px;
}

.button:hover,
.button:hover i {
  background-color: #ffd100;
  color: #333533;
}

.button i {
  margin-right: 6px;
}

.lang,
.lang i {
  color: #f5f5f5;
}

.lang i {
  margin-right: 4px;
}

.lang {
  border: 1px solid #f5f5f5;
  border-radius: 4px;
  padding: 4px 8px;
  font-size: 12px;
  opacity: 0.7;
  align-self: flex-start;
}

.lang:hover {
  opacity: 1;
}

/* navbar */

nav {
  width: 250px;
  font-size: 24px;
}

nav ul li {
  cursor: pointer;
}

nav li.active {
  font-weight: 500;
}

nav ul li .marker {
  width: 42px;
  height: 42px;
  line-height: 42px;
  border: 2px solid #333533;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  margin-right: 12px;
}

nav ul li.active .marker,
nav ul li:hover .marker {
  background-color: #333533;
  color: #ffd100;
  font-size: 22px;
}

nav ul li:not(:last-child)::after {
  content: "";
  display: block;
  border-left: 1px dashed #333533;
  height: 48px;
  margin: 16px 0 16px 21px;
}

/* sections */

.sections {
  width: 700px;
  border-left: 1px solid #333533;
  padding-left: 50px;
}

.contact {
  display: flex;
}

.contact div {
  width: 50%;
}

.contact p {
  margin-top: 0;
}

.contact p i {
  margin-left: 10px;
  font-size: 16px;
  color: #a0a0a0;
  cursor: pointer;
}

.contact p i:hover {
  color: #333533;
}

.socials li {
  display: inline-block;
  margin-right: 24px;
}

.socials li span {
  display: inline-block;
  width: 56px;
  height: 56px;
}

.socials li span.twitter {
  background-image: url(../assets/icons/social/twitter.png);
}

.socials li:hover span.twitter {
  background-image: url(../assets/icons/social/twitter-hover.png);
}


.socials li span.instagram {
  background-image: url(../assets/icons/social/instagram.png);
}

.socials li:hover span.instagram {
  background-image: url(../assets/icons/social/instagram-hover.png);
}



.socials li span.stackoverflow {
  background-image: url(../assets/icons/social/stackoverflow.png);
}

.socials li:hover span.stackoverflow {
  background-image: url(../assets/icons/social/stackoverflow-hover.png);
}



.socials li span.github {
  background-image: url(../assets/icons/social/github.png);
}

.socials li:hover span.github {
  background-image: url(../assets/icons/social/github-hover.png);
}



.socials li span.linkedin {
  background-image: url(../assets/icons/social/linkedin.png);
}

.socials li:hover span.linkedin {
  background-image: url(../assets/icons/social/linkedin-hover.png);
}



.socials li span.whatsapp {
  background-image: url(../assets/icons/social/whatsapp.png);
}

.socials li:hover span.whatsapp {
  background-image: url(../assets/icons/social/whatsapp-hover.png);
}



.socials li span.telegram {
  background-image: url(../assets/icons/social/telegram.png);
}

.socials li:hover span.telegram {
  background-image: url(../assets/icons/social/telegram-hover.png);
}

